@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  min-height: 100vh;
  height: 100vh;
}

input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"] { 
  appearance: auto;
}

.text-shadow{
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}